<div>
    <h2>Edit user:</h2>
    <ul>
        <li><input type="text" placeholder="{{ctrl.is}}"></li>
        <li><input type="text" placeholder="{{ctrl.firstName}}"></li>
        <li><input type="text" placeholder="{{ctrl.lastName}}"></li>
        <li><input type="text" placeholder="{{ctrl.secondLastName}}"></li>
        <li>{{ctrl.hora}}</li>
        <li>{{ctrl.calificacion}}</li>
    </ul>
    <button ng-submit="ctrl.edit(ctrl.is);">Submit</button>
</div>

