<div class="container form-template">

    <form ng-submit="$ctrl.AddQuestion()">
        <ul class="flex-outer">
            <li>
                <label for="IS">IS</label>
                <input type="text" ng-model="user.is" placeholder="Enter your IS">
            </li>

            <li>
                <label for="First Name">First Name</label>
                <input type="text" ng-model="user.firstName" placeholder="Enter your First Name">
            </li>

            <li>
                <label for="Last Name">Last Name</label>
                <input type="text" ng-model="user.lastName" placeholder="Enter your Last Name">
            </li>

            <li>
                <label for="Second Last Name">Second Last Name</label>
                <input type="text" ng-model="user.secondLastName" placeholder="Enter your Second Last Name">
            </li>

            <li>
                <label>Time:</label>
                <label for="time">{{ $ctrl.time }}</label>
            </li>

            <li>
                <label for="Grade">Spected Grade:</label>
                <input type="text" ng-model="user.grade">
            </li>

            <li>
                <button class="btn" ng-submit="">Submit</button>
            </li>

        </ul>
    </form>
</div>