<div class="container form-format">

    <nav class="filter-section">

        <h1>Users:</h1>

        <div class="sort">

            <div class="collection-sort">
            <label>Filter by:</label>
            <select>
                <option value="/">All Users</option>
            </select>
            </div>

            <div class="collection-sort">
            <label>Sort by:</label>
            <select>
                <option value="/">IS</option>
                <option value="/">Name</option>
            </select>
            </div>

            <input class="btn btn-success" type="button" value="Create user">

        </div>

    </nav>
    
    <ul>
        <li ng-repeat="item in $ctrl.users">
            <p><span>IS: <strong>{{ item.is }}</strong></span></p>
            <p><span>First Name: <strong>{{ item.first_name }}</strong></span></p>
            <p><span>Last Name: <strong>{{ item.last_name }}</strong></span></p>
            <p><span>Second Last Name: <strong>{{ item.second_last_name }}</strong></span></p>
            <p><span>Time Captured: <strong>{{ item.time }}</strong></span></p>
            <p><span>Grade: <strong>{{ item.grade }}</strong></span></p>
            <a class="btn btn-info" ng-href="#/users/details">See details...</a>
        </li>
    </ul>

</div>