.form-template ul{
    display: flex;
    flex-flow: wrap column;
}

.form-template ul li{
    display: flex;
    flex-flow: wrap column;
}

.form-template button{
    margin: 15px;
    width: 30%;
    align-self: center;
    background-color: rgba(193, 66, 66, 1)
}

.view-panel{
    padding-top: 7%;
}

@media (max-width: 480px){
    .filter-section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.btn-right{
    display: flex;
    justify-self: flex-end;
}

.filter-section h1{
    flex-grow: 1;
    align-items: baseline;
}

.sort{
    display: flex;
    align-self: baseline;
}

.collection-sort{
    display: flex;
    flex-direction: column;
}