<h1>Somer User:</h1>
<ul>
    <li ng-repeat="item in $ctrl.users">
        <p><span>Id: <strong>{{ item.id }}</strong></span></p>
        <p><span>Name: <strong>{{ item.name }}</strong></span></p>
        <p><span>Email: <strong>{{ item.email }}</strong></span></p>
        <p><span>Phone Number: <strong>{{ item.name }}</strong></span></p>        
        <a class="btn btn-info" ng-href="#/users/details">See details...</a>
    </li>
</ul>



